
/*Styling for registration page*/


    body{
        background-image: linear-gradient(to right, #ff5722,#ff9800);
        margin-top: 0px !important;
    }

    a:hover{
        text-decoration: none;
    }

    .navbar-custom {
        color: #FFFFFF;
        background-color: rgb(44, 41, 41);
    }

    .loginbtn{
        border-radius: 16px;
        padding: 4px 20px;
        outline: none;
        margin-top: 20px;
        
    }

    .transbox {
        background-color: #ffffff;
        border: 2px solid green;
        opacity: 0.5;
        height: 60px;
        margin: 15% 0;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }


    
    

    @media (min-width:768px){.hide-large{display:none!important} .sidenav-collapse{width:250px!important}  }
    @media (max-width:768px){.sidenav-collapse{width:0px;} .content{margin-left:0px!important}  .sidenav a {font-size: 12px;} } 

